<?xml version="1.0"?>
<!--
/**
 * Scandiweb_Slider
 *
 * @category    Scandiweb
 * @package     Scandiweb/Slider
 * @author      Raivis Dejus <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Console commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="scandiweb_slider_resize_slide_images" xsi:type="object">Scandiweb\Slider\Console\Command\ResizeSlideImages</item>
            </argument>
        </arguments>
    </type>

</config>
